{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <h1>Découvrez nos cocktails <img class="logo" src="/image/cocktail.svg"> </h1>

{% endblock %}
